:root  > * {
  --md-primary-fg-color:        #008e5c;
  --md-primary-fg-color--light: #008e5c;
  --md-primary-fg-color--dark:  #008e5c;
  --md-accent-fg-color:        #00ab97;
  --md-accent-fg-color--light: #00ab97;
  --md-accent-fg-color--dark:  #00ab97;
}